

<div class="px-5 py-5 my-5 text-center"> 
    <h1 class="display-5 fw-bold text-body-emphasis">Sobre Nosotros</h1>
    <div class="col-lg-10 mx-auto">
        <p class="lead mb-4">En Ráfaga Store, vivimos y respiramos fotografía. Somos una tienda en línea especializada en la venta de cámaras
    profesionales, cámaras convencionales y accesorios para todos los niveles: desde principiantes apasionados hasta
    fotógrafos experimentados.</p>
    
    <p class="lead mb-4">Nuestro objetivo es brindarte tecnología de punta, asesoría especializada y una experiencia de compra segura y
    personalizada. Creemos que cada imagen cuenta una historia, y por eso queremos ayudarte a capturar la tuya con la
    mejor calidad.

    Trabajamos con marcas reconocidas y productos garantizados, y contamos con un equipo que te acompaña en cada paso,
    desde la elección del equipo hasta el servicio postventa. </p>

    <p class="lead mb-4"> Explora, enfoca y captura con Ráfaga Store.
    Tu pasión por la fotografía empieza aquí.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center"> <button type="button"
                class="btn btn-primary btn-lg px-4 gap-3">Primary button</button> <button type="button"
                class="btn btn-outline-secondary btn-lg px-4">Secondary</button> </div>
    </div>
</div>