<!-- 
  Usamos el evento input para detectar cuando el usuario escribe en el campo de búsqueda
  y llamamos a la función searchProducts() para filtrar los productos
  La función searchProducts() se encarga de filtrar los productos según el término de búsqueda
  La función searchProducts() se ejecuta cada vez que el usuario escribe en el campo de búsqueda
   -->
  <!-- 
  Usamos el two-way data binding para enlazar el valor del campo de búsqueda
  con la propiedad searchTerm del componente
  Esto permite que el valor del campo de búsqueda se actualice automáticamente
  en el componente y viceversa
  El two-way data binding se logra usando la directiva ngModel
  ngModel es una directiva de Angular que permite enlazar el valor de un input
  con una propiedad del componente
  Para usar ngModel, debemos importar FormsModule en el módulo de la aplicación
  y agregarlo a la lista de imports
   -->
<input
  type="text"
  placeholder="Buscar producto"
  [(ngModel)]="searchTerm"
  (input)="searchProducts()"
  class="form-control mb-4"
/>

<div class="container mt-4">
  <h2>Productos Disponibles</h2>

  <div class="row">
    <!-- Iteramos sobre filteredProducts si tiene datos, de lo contrario sobre products -->
    <!-- 
      Usamos la directiva ngFor para iterar sobre la lista de productos
      y mostrar cada producto en una tarjeta
      La directiva ngFor se usa para iterar sobre una lista de elementos
      y crear un elemento HTML por cada elemento de la lista
      En este caso, estamos iterando sobre la lista de productos
      y creando una tarjeta para cada producto
     -->
    <!-- 
      Usamos la directiva ngIf para mostrar un mensaje si no hay productos
      y la directiva ngFor para iterar sobre la lista de productos
      y crear una tarjeta para cada producto
      La directiva ngIf se usa para mostrar u ocultar un elemento HTML
      según una condición
      En este caso, estamos mostrando un mensaje si no hay productos
      y ocultando la lista de productos
    -->

     <!-- Si el usuario ya buscó y no hay resultados -->
    <div
      *ngIf="searchTerm && filteredProducts.length === 0"
      class="col-12 text-center mt-4 alert alert-warning"
    >
      <h4>No se encontraron productos para "{{ searchTerm }}"</h4>
      <p>Intenta con otro término de búsqueda.</p>
    </div>

    <!-- condicion if-else -->
    <div 
      *ngFor=" 
        let product of filteredProducts.length > 0 ? filteredProducts : products
      "
      class="col-md-4 mb-3"
    >
      <div class="card h-100">
        <img
          [src]="product.imageUrl"
          class="card-img-top"
          alt="{{ product.name }}"
        />
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">$ {{ product.price }}</p>
          <br>
          
        </div>
        <div>
          
        </div>

      </div>
    </div>
  </div>
</div>